/*****Responsive-css*****************/
@media only screen and ( max-width: 767px ){
    .navigation-part ul {
        display: none;
    }
    .navigation-part {
        padding-right: 5px;
    }
    button.fa.fa-bars {
        width: 25px;
        height: 25px;
        font-size: 15px;
        background: transparent;
        color: #101010;
        border: none;
        border-radius: 2px;
        position: relative;
        top: 0px;
        line-height: 22px;
    }
    .top-right-btn{
        margin-top: 5px;
    }
    .logo {
        padding: 13px 0;
    }
    .header-navigation {
        text-align: right;
        padding: 10px 0;
    }
    header{
        padding: 0px;
    }
    .navigation-part ul {
        display: block;
        position: absolute;
        top: 100%;
        background: #fff;
        z-index: 9;
        padding: 0px 0 0;
        display: none;
        width: 210px;
        right: 0;
        box-shadow: 0px 0px 3px #b1b0b0;
        border-radius: 0 0 0 3px;
    }
    .navigation-part ul li{
        border-bottom: 1px solid #f1f1f1;
        display: block;
    }
     .navigation-part ul li:last-child{
        border-bottom: none;
     } 
    button.fa.fa-bars {
        display: inline-block;
    }
    .navigation-part ul li a{
        display: block;
         padding: 15px 20px;
    }
    .navigation-part ul li:hover a{
        background: #000;
        color: #fff;
    }
   .banner p {
        font-size: 1.35em;
        margin-bottom: 0.5em;
        line-height: 1.45em;
    }
   .banner h2 {
        font-size: 1.6em;
        line-height: 1.5;
    }
    a.button.big.scrolly{
        padding: 0 3em;
        font-size: 1.0em;
    }
    .banner{
        background-position: 90% 100%;
    }
    .how-work-heading h1 , .gym-owner h3{
        font-size: 2.0em;
        line-height: 1.3em;
        margin-bottom: 0.5em;
    }
    .how-work-heading h3 {
        font-size: 1.2em;
        line-height: 1.8em;
    }
}