@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');
* {
    margin: 0;
    outline: 0 none;
}
.clear {
    clear: both;
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, a selectbox1ress, code, del, dfn, em, img, q, dl, dt, selectbox1, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    vertical-align: baseline;
}
article, aside, dialog, figure, figcaption, footer, header, hgroup, nav, section {
   display: block;
}
a {
    color: #01c5db;
    text-decoration: none;
    cursor: pointer;
}
a img {
    border: medium none;
}
a:hover{
    transition:all 300ms ease-in-out;
    -webkit-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
    -ms-transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
}
a:focus{
    text-decoration:none;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
    line-height: 26px;
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
:focus {
    outline: 0 none;
}
del {
    text-decoration: line-through;
}
button::-moz-focus-inner {
    border: 0 none;
}
body {
    background: #f7f7f6;
    color: #5a5d63;
    font-size: 13px;
    line-height: 1;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
   font-family: 'Raleway', sans-serif;
    overflow-x:hidden;
}
ul {
    list-style: outside none none;
    padding: 0;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
}
a img {header
    border: medium none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
a:focus {
    outline: none !important;
    outline-offset:none !important;
}
.martop0{
    margin-top: 0px !important;
}
.martop10{
    margin-top: 10px !important;
}
.martop20{
    margin-top: 20px !important;
}
.martop30{
    margin-top: 30px !important;
}
.martop40{
    margin-top: 40px !important;
}
.martop50{
    margin-top: 50px !important;
}
.martop90{
    margin-top: 90px !important;
}
.marbotom10{
    margin-bottom: 10px !important;
}
.marbotom20{
    margin-bottom: 20px !important;
}
.marbotom30{
    margin-bottom: 30px !important;
}
.marbotom40{
    margin-bottom: 40px !important;
}
.marbotom50{
    margin-bottom: 50px !important;
}

.paddtop-botom10{
    padding: 10px 0 !important;
}
.paddtop-botom20{
    padding: 20px 0 !important;
}
.paddtop-botom30{
    padding: 30px 0 !important;
}
.paddtop-botom40{
    padding: 40px 0 !important;
}
.paddtop-botom50{
    padding: 50px 0 !important;
}
.padd0{
    padding: 0px !important;
}
.paddl0{
    padding-left: 0px !important;
}
.paddr0{
    padding-right: 0px !important;
}
.paddl4{
    padding-left: 4px !important;
}
.paddr4{
    padding-right: 4px !important;
}
/******Home-page-css*****/
header{
    background: #fff;
    padding: 18px 6px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 0px 15px #555;
}
header .logo h3 {
    font-size: 17px;
    letter-spacing: 1px;
    color: #6b6b6b;
    font-weight: 300;
}
header .logo h3 span {
    font-weight: 700;
    color: #3c3c3c;
}
.header-navigation {
    text-align: right;
}
.top-right-btn {
    float: right;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #565656;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 2px;
}
.top-right-btn i {
    color: #4a4949;
    font-size: 14px;
    font-weight: 300;
    vertical-align: top;
}
.banner {
    background-color: #181415;
    color: #ffffff;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
   background-image: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*height: calc(100vh - 3.125em);*/
    min-height: 30em;
    text-align: center;
    height: 100vh;
}
#right-form {
    background-color: #6d7d8c;
    color: #e5e6e9;
    -moz-transform: translateX(30em);
    -webkit-transform: translateX(30em);
    -ms-transform: translateX(30em);
    transform: translateX(30em);
    -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    box-shadow: none;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    right: 0;
    text-transform: uppercase;
    top: 0;
    visibility: hidden;
    width: 25em;
    z-index: 10002;
    text-align: left;
    padding-top: 6em;
}
#right-form.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    visibility: visible;
}
#right-form > ul.signin-form {
    list-style: none;
    padding: 0;
}
#right-form input.text-boxes {
    background: rgba(144, 144, 144, 0.1);
    border-color: rgba(144, 144, 144, 0.3);
    height: 3.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: solid 1px #fff;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    color: #fff;
}
#right-form input.text-boxes::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
#right-form input.text-boxes::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#right-form input.text-boxes:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
#right-form input.text-boxes:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
#right-form .close {
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 3.25em;
    line-height: 3.25em;
   padding-right: 0.5em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 2em;
    opacity: 1;
}
#right-form .close i {
    color: #fff;
}
#right-form >  h3{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1em;
}
#right-form > ul.signin-form label  {
    color: #fff;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}
#right-form > ul.signin-form label.error {
    color: red !important;
    font-size: 12px !important;
    text-transform: capitalize;
    margin-top: 8px;
}
#right-form input.btn.btn-primary.logins {
    background: transparent;
    padding: 8px 30px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #fff;
    width: 100%;
    height: 3.1em;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #6d7d8c inset !important;
}
form#contact-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f7f7f7 inset !important;
}
#right-form input.btn.btn-primary.logins:hover{
    background: #000;
    color: #fff;
    border-color: #000;
}
.banner > .inner {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 0 2em;
    z-index: 1;
}
.banner p {
    font-size: 1.55em;
    margin-bottom: 1.75em;
    color: #fff;
    letter-spacing: 1px;
}
.banner h2 {
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.07em;
    line-height: 1.6;
    margin: 0 0 2em 0;
    text-transform: uppercase;
    padding-top: 15px;
}
.banner h2:after{
    display: block;
    content: "";
    height: 1px;
    margin-top: 1em;
    width: 3em;
    background: #fff;
    text-align: center;
    margin: auto;
    position: relative;
    top: 20px;
}
a.button.big.scrolly {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 3.25em;
    letter-spacing: 0.07em;
    line-height: 3.35em;
    overflow: hidden;
    padding: 0 5em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.1em;
    color: #fff;
    border-color: #fff;
}
a.button.big.scrolly:hover{
    background: #fff;
    color: #000;
}
.how-does-work {
    background: #7a7d82;
    padding: 80px 0;
}
.how-work-heading{
    text-align: center;
}
.how-work-heading h1 {
    color: #fff;
    font-size: 2.6em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1.3em;
}
.how-work-heading h3 {
    color: #fff;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0.2em;
}
.how-blog-sec {
    text-align: center;
    color: #fff;
}
.how-blog-sec h3 {
    font-size: 1.8em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1.2em;
    line-height: 1.9em;
}
.how-blog-sec p {
    font-size: 1.3em;
    color: #fff;
    font-weight: 300;
    margin-bottom: 1em;
    line-height: 1.8em;
    letter-spacing: 1px;
}
.how-blog-sec i {
    font-size: 6em;
    color: #fff;
    font-weight: 300;
    margin-bottom: 0.2em;
    letter-spacing: 1px;
    color: #ffca00;
    transform: rotateZ(0deg);
     -webkit-transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    cursor: pointer;
}
.how-blog-sec i:hover{
    transform: rotateZ(-360deg);
     -webkit-transform: rotate(-360deg);
}
.gym-owner{
    background: #fff;
    padding: 80px 0;
    text-align: center;
}
.gym-owner h3{
    color: #444;
    font-size: 2.6em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1.3em;
}
.gym-owner p {
    color: #888;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 2em;
    line-height: 1.8em;
}
.gym-owner a.get-listed{
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 3.25em;
    letter-spacing: 0.07em;
    line-height: 3.35em;
    overflow: hidden;
    padding: 0 3em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.1em;
    color: #444;
    border-color: #888;
}
.gym-owner a.get-listed:hover{
    background: #7a7d82;
    color: #fff;
}
footer{
    background: #545669;
    padding: 80px 30px 20px;
}
footer h3 {
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 1.3em;
    margin-bottom: 1.3em;
    position: relative;
}
footer h3:before{
    position: absolute;
    top: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    content: '';
    width: 60px;
}
footer p {
    color: #f1f1f1;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 1em;
    line-height: 1.8em;
}
footer input[type="text"] {
    width: 80%;
    height: 45px;
    background: rgba(0, 0, 0, 0.1);
    color: #f1f1f1;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 5px 12px;
    line-height: 24px;
    font-size: 1.2em;
    letter-spacing: 1px;
    border-radius: 4px;
}
footer fieldset{
    margin-bottom: 1.8em;
    position: relative;
}
footer input[type="submit"]{
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 3.25em;
    letter-spacing: 0.07em;
    line-height: 3.35em;
    overflow: hidden;
    padding: 0 3em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.2em;
    color: #f1f1f1;
    border-color: rgba(0, 0, 0, 0.3);
    background: transparent;
    width: 80%;
}
input[type="submit"]:hover{
    color: #ffca00;
    border-color: #ffca00;
    background: rgba(0,0,0,0.1);
}
footer input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
footer input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
footer input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
footer input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
footer label.error {
    color: #8e1010;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0;
    padding-left: 10px;
    position: absolute;
    top: 100%;
    left: 0px;
}
footer input[type="text"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #545669 inset !important;
}
footer tr td {
    color: #d0d0d0;
    font-size: 1.3em;
    line-height: 2.3em;
    height: 2.9em;
    vertical-align: top;
}
footer tr td:first-child{
    padding-right: 15px;
    padding-left: 20px;
}
footer tr td  i{
    color: #ffca00;
}
.navigation-part {
    display: inline-block;
    vertical-align: top;
    padding-right: 25px;
}
.navigation-part ul li {
    display: inline-block;
    vertical-align: top;
    color: #555;
    font-size: 14px;
}
.navigation-part ul li a {
    display: inline-block;
    vertical-align: top;
    color: #3a3a3a;
    padding: 4px 10px 0px;
    font-size: 13px;
    font-weight: 600;
}
.navigation-part ul li:hover a{
    color:#ffca00; 
}
button.fa.fa-bars {
    display: none;
}
/*****
**Join Gym Page
*****/
.join-gymanywhere {
    background: #908989;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
     rgba(0, 0, 0, 0.3)), url(../images/banner2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.banner-text h1 {
    color: #fff;
    font-size: 2.6em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0.7em;
    position: relative;
    padding-bottom: 0.6em;
}
.banner-text h3{
    color: #f1f1f1;
    font-size: 1.78em;
}
.banner-text h1:after {
    bottom: 0px;
    height: 1px;
    width: 100px;
    margin: 0 auto;
    content: '';
    z-index: 1;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}
.banner-text {
    display: flex;
    width: 100%;
    height: 350px;
}
.dis-flex {
    margin: auto;
    text-align: center;
}
.contact-sec {
    padding: 50px 0;
    background: #fff;
}
.contact-sec h3 {
    color: #444;
    font-size: 1.95em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.8em;
    position: relative;
}
.contact-sec h5 {
    color: #444;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
}
.contact-sec p {
    color: #808080;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 1.2em;
    position: relative;
    line-height: 1.9em;
}
.contact-sec ul{
    margin-bottom: 1.5em;
}
.contact-sec ul li {
    color: #6f6e6e;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 0.6em;
    position: relative;
    line-height: 1.9em;
    list-style-type: disc;
    margin-left: 20px;
}
.contact-sec ul li strong{
    color: #444;
}
.contact-form .input-box {
    width: 100%;
    height: 50px;
    line-height: 26px;
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f7f7f7;
    color: #444;
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}
.contact-form textarea.input-box{
    min-height: 150px;
}
.contact-form .input-box:focus{
    box-shadow: 0px 0px 4px #ffca00;
    border: 1px solid #f7f7f7;
}
.contact-form .input-box.error:focus{
    box-shadow: 0px 0px 4px red;
    border: 1px solid red;
}
.contact-form fieldset{
    margin-bottom: 30px;
    position: relative;
}
.contact-form input.input-submit{
    padding: 12px 35px;
    margin-right: 10px;
    color: #fff;
    background: #eaba02;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #eaba02;
    border-bottom: 3px solid #daad04;
    border-radius: 5px;
    text-transform: uppercase;
}
.contact-form input.input-submit.reset {
    background: #fff;
    border: 1px solid #a5a5a5;
    border-bottom: 3px solid #d4d4d4;
    color: #444;
    padding: 13px 30px;
}
.contact-form label.error{
    color: red;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    left: 0px;
}